# Python 3.11 environment in Colab
!apt-get update -y && apt-get install python3.11 python3.11-distutils -y
!curl -sS https://bootstrap.pypa.io/get-pip.py | python3.11

# dependencies into python3.11
!python3.11 -m pip install akida==2.16.1 cnn2snn==2.16.1 quantizeml==0.19.0 akida-models==1.10.0 tensorflow==2.15.0 tensorflow-datasets importlib_resources matplotlib_inline IPython 

# Load packages from Python 3.11 instead of default
import sys
sys.path.insert(0, "/usr/local/lib/python3.11/dist-packages")
sys.path.insert(0, "/usr/lib/python3.11/dist-packages")